name: Publish Python package

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  test_package:
    uses: ./.github/workflows/test_package.yml

  make_sdist:
    needs: test_package
    name: Make source distribution
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install build deps
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools wheel pybind11 lark

      - name: Build SDist
        env:
          INSTALL_ENDF_PARSERPY_CPP: no
        run: python setup.py sdist

      - name: Show built wheels
        run: ls -lh dist

      - uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*.tar.gz

  build_wheels:
    needs: make_sdist
    name: Build wheels on ${{ matrix.runner }}
    runs-on: ${{ matrix.runner }}
    timeout-minutes: 500

    strategy:
      fail-fast: true
      matrix:
        runner:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
          - windows-11-arm
          - macos-15-intel
          - macos-14

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install cibuildwheel
        run: |
          python -m pip install --upgrade pip
          python -m pip install cibuildwheel==3.3.1

      - name: Build wheels
        env:
          INSTALL_ENDF_PARSERPY_CPP: yes
          CIBW_BUILD: "cp39-* cp310-* cp311-* cp312-* cp313-* cp314-*"
          CIBW_BUILD_VERBOSITY: 3
        run: |
          python cibuildhack.py
          python -m cibuildwheel --output-dir wheelhouse

      - name: Show wheels
        run: |
          ls -lh wheelhouse || dir wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.runner }}
          path: wheelhouse/*.whl

  upload_all:
    needs:
      - test_package
      - make_sdist
      - build_wheels

    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
