name: Test package

on:
  push:
    branches: [main]

  workflow_call:

  workflow_dispatch:


permissions:
  contents: read

jobs:
  test_package:
    strategy:
      matrix:
        python-version: ['3.12']
        runner:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
          - windows-11-arm
          - macos-15-intel
          - macos-14

    runs-on: ${{matrix.runner}}

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.python-version}}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest

      - name: Install package and dependencies
        env:
          INSTALL_ENDF_PARSERPY_CPP: "yes"
        run: |
          python -m pip install . -vvv

      - name: Run all tests
        run: |
          cd tests
          python -m pytest --maxfail=5
